@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    height: 100px;
    padding: 5%;
    position: absolute;
    width: 100%;
    z-index: 100;
}

header img {
    width: 100px;
    margin-top: 20px;
    margin-left: -20px;
}

html, body {
    height: 100%;
}

.home {
    display: flex;
    height: 100vh;
    background: linear-gradient(to top, #D2E2FB 30%, #86A8DB);
    position: relative;
    overflow: hidden;
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.home .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    font-family: "Poppins", sans-serif;
}


.about {
    padding: 50px;
    background: #3B3291;
    color: white;
    position: relative;
    z-index: 100;
}

.game-container-wrapper {
    background-color: #3B3291;
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#gameContainer {
    width: 100%;
    max-width: 800px;
    height: 640px; 
    background-color: #3B3291;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 250px;
}

.page-footer {
    height: 200px;
    background-color: #3B3291;
}

.title1 {
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.3s ease;
}
.title1:hover {
    transform: scale(1.1);
}

.choose-container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #3B3291;

}
.choose-container h1 {
    margin-bottom: 20px;
    color: #ffffff;
    background: #3B3291;
    font-family: 'Poppins', sans-serif;
}
.choose-container h3 {
    margin-bottom: 20px;
    color: #f5f5f5;
    background: #3B3291;
    font-family: 'Poppins', sans-serif;
} 
.canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    background: #3B3291;
}  

canvas {
    border: 2px solid #555;
    border-radius: 10px;
    margin-bottom: 20px;
    background: #f3f3f3;

}
.button-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}
button {
    background-color: #fff;
    color: #3B3291;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #418cdc;
}

#player1-Text, #player2-Text {
    color: #f2f2f2;
    margin-bottom: 10px;

}